
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font: {
    family: "Montserrat", sans-serif;
    size:18px;
    weight:500;
  }
  line-height:1.6em;
}

.portfolio{
  p{
    text: {
      align:center;
      overflow:hidden;
    }
  }
}